<section class="auth-container">
  <h2>Вход</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" formControlName="email" type="email" placeholder="Введите ваш email">
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">
        Email обязателен и должен быть корректным
      </div>
    </div>

    <div class="form-group">
      <label for="password">Пароль:</label>
      <input id="password" formControlName="password" type="password" placeholder="Введите ваш пароль">
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
        Пароль обязателен
      </div>
    </div>

    <button type="submit" [disabled]="loginForm.invalid" class="btn-primary">Войти</button>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </form>

  <p class="redirect-message">
    Нет аккаунта? 
    <a routerLink="/register" class="link">Зарегистрироваться</a>
  </p>
</section>