<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peer-to-Peer Криптовалютная Биржа</title>
    <link href="/css/styles.css" rel="stylesheet"/>
</head>
<body>
<header th:replace="~{header.html}">
    <h1>Peer-to-Peer Криптовалютная Биржа</h1>
</header>

<nav>
    <a href="/auth/sign-up">Регистрация</a>
    <a href="/auth/sign-in">Вход</a>
</nav>

<div class="container">
    <h2>Добро пожаловать на нашу P2P Криптовалютную биржу</h2>
    <p>Торгуйте криптовалютами напрямую с другими пользователями безопасно и анонимно.</p>
    <a class="button" href="/platform/account/welcome">Начать торговлю</a>
</div>

<footer th:replace="~{footer.html}"></footer>
</body>
</html>