/* Стиль для всего контейнера (app-layout) */
.app-layout {
  display: flex;
  flex-direction: column; /* Элементы располагаются по вертикали */
  min-height: 100vh;   
  transition: margin-left 0.3s ease;  /* Анимация для сдвига контента */
}

/* Когда сайдбар открыт, добавляем отступ */
.app-layout.menu-open {
  margin-left: 250px; /* Ширина сайдбара */
}

/* Стили для основного контента */
.main-content {
  flex-grow: 1;            /* Этот блок будет растягиваться, занимая все оставшееся пространство */
  padding: 20px;           /* Внутренние отступы для контента */
  overflow: auto;          /* Добавление прокрутки при необходимости */
}