/* Стиль для всего контейнера (app-layout) */
.app-layout {
  display: flex;
  flex-direction: column; /* Элементы располагаются по вертикали */
  min-height: 100vh;   
  transition: margin-left 0.3s ease;  /* Анимация для сдвига контента */    /* Задаем минимальную высоту для всей страницы */
}

/* Стили для основного контента */
.main-content {
  flex-grow: 1;            /* Этот блок будет растягиваться, занимая все оставшееся пространство */
  padding: 20px;           /* Внутренние отступы для контента */
  overflow: auto;          /* Добавление прокрутки при необходимости */
}

/* Стили для футера */
.app-footer {
  padding: 10px 0;
  color: white;
  background-color: rgba(85, 83, 199, 0.252);
  text-align: center;
  width: 100%;
  margin-top: auto; /* Футер будет оттягиваться в низ страницы */
}

/* Стили для ссылок в футере */
.footer-content nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 0.9rem;
}

.footer-content nav a:hover {
  text-decoration: underline;
}

.footer-content p {
  margin: 0;
  font-size: 1rem;
}
