<h2>Регистрация</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="username">Имя пользователя:</label>
    <input id="username" formControlName="username">
    <!-- Проверка на наличие ошибки только после фокуса на поле -->
    <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
      Имя пользователя обязательно
    </div>
  </div>
  
  <div>
    <label for="email">Email:</label>
    <input id="email" formControlName="email" type="email">
    <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
      Email обязательно и должен быть корректным
    </div>
  </div>
  
  <div>
    <label for="password">Пароль:</label>
    <input id="password" formControlName="password" type="password">
    <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
      Пароль обязательно
    </div>
  </div>
  
  <button type="submit" [disabled]="registerForm.invalid">Зарегистрироваться</button>
</form>
