<div class="app-container">
  <!-- Основной контент -->
  <main class="content">
    <div *ngIf="user$ | async as user; else loading">
      <h1>👋 Добро пожаловать, {{ user.login }}</h1>
      <div class="button-group">
        <button (click)="showAddCardModal()" class="btn btn-primary">➕ Добавить карту</button>
        <button (click)="showAddWalletModal()" class="btn btn-primary">➕ Добавить кошелек</button>
      </div>
      <app-cards-list></app-cards-list>
      <app-wallets-list></app-wallets-list>
      
      <app-deal-requests></app-deal-requests>

    </div>
    <ng-template #loading>
      <p>Загрузка...</p>
    </ng-template>
  </main>

  <!-- Модальное окно для добавления карты -->
  <app-add-card 
    *ngIf="isAddCardModalVisible" 
    (closeModal)="closeAddCardModal()" 
    (cardAdded)="onCardAdded($event)"
  ></app-add-card>

  <!-- Модальное окно для добавления кошелька -->
  <app-add-wallet 
    *ngIf="isAddWalletModalVisible" 
    (closeModal)="closeAddWalletModal()" 
    (walletAdded)="onWalletAdded($event)"
  ></app-add-wallet>

</div>
