/* user_management_styles.css */

body {
    background-color: #f8f9fa;
}

.container {
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

h1 {
    color: #007bff;
}

.table {
    background-color: white;
}

.table thead {
    background-color: #007bff;
    color: white;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f1f1f1;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-block {
    background-color: #FF0000;
    border-color: #FF0000;
}

.btn-block:hover {
    background-color: #BA0000;
    border-color: #BA0000;
}

.btn-active {
    background-color: #09FF05;
    border-color: #09FF05;
}

.btn-active:hover {
    background-color: #03B200;
    border-color: #03B200;
}

/* Медиазапросы для адаптации под мобильные устройства */
@media only screen and (max-width: 768px) {
    .container {
        padding: 1.5rem;
        margin: 10px;
    }

    .table {
        font-size: 0.9rem;
    }

    .btn-sm {
        font-size: 0.8rem;
        padding: 5px 10px;
    }

    h1 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        padding: 1rem;
        margin: 5px;
    }

    .table {
        font-size: 0.8rem;
    }

    .btn-sm {
        font-size: 0.7rem;
        padding: 4px 8px;
    }

    h1 {
        font-size: 1.25rem;
    }
}