/* Общие стили */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex-grow: 1;
}

.card-form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

h3 {
    color: #0056b3;
    margin-top: 2rem;
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 0.5rem;
}

span, a {
    font-size: 1rem;
    color: #333;
}

a {
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.form-control:focus {
    outline: none;
    border-color: #007bff;
}

textarea.form-control {
    resize: vertical;
}

.btn-primary, .btn-danger {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #b02a37;
}