body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #e0e9f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Добавлено для центрирования содержимого */
}

h2 {
    text-align: center;
    color: #2a5885;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    font-weight: bold;
    color: #2a5885;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #2a5885;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1e3a57;
}

.error {
    color: red;
    font-size: 12px;
    display: inline-block;
    margin-top: 5px;
}

.signInLink {
    display: block; /* Делаем ссылку блочным элементом */
    color: #2a5885;
    text-decoration: none;
    margin-top: 10px;
}

.signInLink:hover {
    color: #1e3a57;
}