/* styles.css */

/* Сброс некоторых стандартных стилей */
body, h1, h2, p, a {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f0f7fc;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav {
    background-color: #0056b3;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
}

nav a:hover {
    background-color: #004494;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    padding: 0 15px;
}

h1 {
    margin-bottom: 0.5rem;
}

h2 {
    margin-top: 20px;
    color: #0056b3;
}

p {
    margin: 20px 0;
    font-size: 1.1rem;
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

/* Адаптивность для мобильных устройств */
@media only screen and (max-width: 768px) {
    header {
        padding: 8px 15px;
    }

    nav a {
        padding: 8px 15px;
        font-size: 0.9rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.25rem;
        margin-top: 15px;
    }

    p {
        font-size: 1rem;
        margin: 15px 0;
    }

    .button {
        font-size: 14px;
        padding: 8px 15px;
    }
}

@media only screen and (max-width: 480px) {
    header {
        padding: 5px 10px;
    }

    nav {
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    nav a {
        padding: 5px 10px;
        font-size: 0.8rem;
    }

    h1 {
        font-size: 1.25rem;
    }

    h2 {
        font-size: 1rem;
        margin-top: 10px;
    }

    p {
        font-size: 0.9rem;
        margin: 10px 0;
    }

    .button {
        font-size: 12px;
        padding: 5px 10px;
    }
}