<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Request</title>
</head>
<body>
<h1>Create Request</h1>
<form action="#" th:action="@{/platform/request/save}" th:object="${request}" method="post">
    <label for="requestType">Тип заявки:</label>
    <select id="requestType" name="requestType" th:field="*{requestType}">
        <option th:each="type : ${types}" th:value="${type.id}" th:text="${type.name}"></option>
    </select><br><br>

    <label for="wallet">Wallet:</label>
    <select id="wallet" name="wallet" th:field="*{wallet}">
        <option th:each="wallet : ${wallets}" th:value="${wallet.id}" th:text="${wallet.name}"></option>
    </select>
    <span th:if="${walletError}" class="error" th:text="${walletError}"><BR></span><br><br>

    <label for="card">Card:</label>
    <select id="card" name="card" th:field="*{card}">
        <option th:each="card : ${cards}" th:value="${card.id}" th:text="${card.cardName}"></option>
    </select>
    <span th:if="${cardError}" class="error" th:text="${cardError}"><BR></span><br><br>

    <label for="pricePerUnit">Price Per Unit:</label>
    <input type="number" id="pricePerUnit" name="pricePerUnit" step="0.1" th:field="*{pricePerUnit}" required><br>
    <span th:if="${priceError}" class="error" th:text="${priceError}"><br></span><br>

    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" step="0.01" th:field="*{quantity}" required><br>
    <span th:if="${quantityError}" class="error" th:text="${quantityError}"><BR></span><br>

    <label for="description">Description:</label><br>
    <textarea id="description" name="description" rows="4" cols="50" th:field="*{description}"></textarea><br><br>

    <input type="submit" value="Submit">
</form>
</body>
</html>
