<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новый кошелек</title>
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
    <link href="../static/css/add_wallet_styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<header th:replace="~{header.html}"></header>

<div class="container">
    <h1>Добавить кошелек</h1>
    <form method="post" th:action="@{/platform/wallet/save}" th:object="${wallet}">
        <label for="walletName">Название кошелька:</label>
        <input id="walletName" name="walletName" required th:field="*{name}" type="text"><br>
        <span class="error" th:if="${errorMessage}" th:text="${errorMessage}"></span><br>

        <label for="cryptocurrency">Криптовалюта:</label>
        <select id="cryptocurrency" name="cryptocurrency" required th:field="*{cryptocurrency}">
            <option th:each="cryptocurrency : ${cryptocurrencies}" th:value="${cryptocurrency.id}">
                <div class="crypto-option">
                    <span class="crypto-code" th:text="${cryptocurrency.code}"></span>
                    <span th:text="${cryptocurrency.name}"></span>
                </div>
            </option>
        </select><br><br>

        <input type="submit" value="Добавить">
    </form>
</div>

<footer th:replace="~{footer.html}"></footer>
</body>
</html>
