<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сделки</title>
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/all_request_styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<header th:replace="~{header.html}"></header>

<div class="section">
    <h3 class="section-title">Все сделки</h3>
    <table>
        <thead>
        <tr>
            <th>Номер сделки</th>
            <th>Статус сделки</th>
            <th>Заявка на покупку</th>
            <th>Заявка на продажу</th>
            <th>Последнее изменение</th>
            <th>Время создания</th>
            <th>Время закрытия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="deal : ${deals}">
            <td><a class="id-link" th:href="@{'/platform/deal/' + ${deal.id}}" th:text="${deal.id}"></a></td>
            <td th:text="${deal.status.name}"></td>

            <td>
                <b th:if="${deal.isBuyCreated}">
                    <a class="id-link" th:href="@{'/platform/request/' + ${deal.sellRequest.id}}"
                       th:text="${deal.sellRequest.id}"></a>
                </b>
                <a class="id-link" th:href="@{'/platform/request/' + ${deal.sellRequest.id}}"
                   th:if="${!deal.isBuyCreated}" th:text="${deal.sellRequest.id}"></a>
            </td>

            <td>
                <b th:if="${!deal.isBuyCreated}">
                    <a class="id-link" th:href="@{'/platform/request/' + ${deal.buyRequest.id}}"
                       th:text="${deal.buyRequest.id}"></a>
                </b>
                <a class="id-link" th:href="@{'/platform/request/' + ${deal.buyRequest.id}}"
                   th:if="${deal.isBuyCreated}" th:text="${deal.buyRequest.id}"></a>
            </td>
            <td th:text="${deal.changeLastTime}"></td>
            <td th:text="${deal.openDateTime}"></td>
            <td th:text="${deal.closeDateTime}"></td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="~{footer.html}"></footer>
</body>
</html>
