<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Requests</title>
</head>
<body>
<h2>Requests</h2>
<table>
    <thead>
    <tr>
        <th>Номер заявки</th>
        <th>Тип заявки</th>
        <th>Итоговая цена</th>
        <th>Статус сделки</th>
        <th>Последнее изменение</th>
        <th>Цена за единицу</th>
        <th>Количество</th>
        <th>Время создания</th>
        <th>Время закрытия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="request : ${requests}">
        <td>
            <a th:if="${isManager==null}" th:href="@{'/platform/request/' + ${request.id}}" th:text="${request.id}"></a>
            <a th:if="${isManager}" th:href="@{'/platform/manager/request/' + ${request.id}}" th:text="${request.id}"></a>
        </td>
        <td th:text="${request.requestType.name}"></td>
        <td th:text="${request.quantity * request.pricePerUnit}"></td>
        <td th:text="${request.requestStatus.name}"></td>
        <td th:text="${request.lastChangeStatusDateTime}"></td>
        <td th:text="${request.pricePerUnit}"></td>
        <td th:text="${request.quantity}"></td>
        <td th:text="${request.createDateTime}"></td>
        <td th:text="${request.deadlineDateTime}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>