<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о сделке</title>
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/deal_styles.css" rel="stylesheet" type="text/css">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>
<header th:replace="~{header.html}"></header>
<div class="container">
    <div class="card-form">
        <h2>Информация о сделке</h2>
        <div class="form-group">
            <b th:text="${deal.buyRequest.user.login}"></b> отправляет <b th:text="${deal.sellRequest.user.login}"></b>
            : <b th:text="${deal.buyRequest.quantity * deal.buyRequest.pricePerUnit}"></b> рублей
            получает <b th:text="${deal.buyRequest.quantity}"></b>
            <span th:text="${deal.buyRequest?.wallet?.cryptocurrency?.name ?: 'No cryptocurrency found'}"></span>
        </div>
        <div class="form-group">
            <label>Статус:</label>
            <span th:text="${deal.status.name}"></span>
        </div>
        <div class="form-group">
            <label>Время открытия:</label>
            <span th:text="${deal.openDateTime}"></span>
        </div>
        <div class="form-group">
            <label>Контрольный срок:</label>
            <span th:text="${deal.closeDateTime}"></span>
        </div>
        <div class="form-group">
            <label>Номер сделки продавца:</label>
            <a th:href="@{'/platform/request/' + ${deal.sellRequest.id}}" th:text="${deal.sellRequest.id}"></a>
        </div>
        <div class="form-group">
            <label>Номер сделки покупателя:</label>
            <a th:href="@{'/platform/request/' + ${deal.buyRequest.id}}" th:text="${deal.buyRequest.id}"></a>
        </div>

        <div class="form-group" th:if="${showAcceptButton}">
            <form method="post" th:action="@{'/platform/deal/' + ${deal.id} +'/accept'}">
                <button class="btn-primary" type="submit">Принять!</button>
            </form>
        </div>

        <div class="form-group" th:if="${showConfirmPaymentButton}">
            <form method="post" th:action="@{'/platform/deal/' + ${deal.id} +'/confirm_payment'}">
                <button class="btn-primary" type="submit">Подтвердить отправку средств!</button>
            </form>
        </div>

        <div class="form-group" th:if="${showDenyReceiptButton}">
            <form method="post" th:action="@{'/platform/deal/' + ${deal.id} +'/deny_received_payment'}">
                <button class="btn-danger" type="submit">Средства не дошли!</button>
            </form>
        </div>

        <div class="form-group" th:if="${showConfirmReceiptButton}">
            <form method="post" th:action="@{'/platform/deal/' + ${deal.id} +'/confirm_receipt_payment'}">
                <button class="btn-primary" type="submit">Подтвердить получение средств!</button>
            </form>
        </div>

        <div class="form-group" th:if="${showTakeInWorkButton}">
            <form method="post" th:action="@{'/manager/deal/' + ${deal.id} +'/take_in_work'}">
                <button class="btn-primary" type="submit">Взять в работу</button>
            </form>
        </div>

        <div class="form-group" th:if="${showRefuseButton}">
            <form method="post" th:action="@{'/platform/deal/' + ${deal.id} +'/refuse'}">
                <button class="btn-danger" type="submit">Отменить!</button>
            </form>
        </div>

        <div class="form-group" th:if="${showDealActionFrom}">
            <h3>Действия со сделкой</h3>
            <form method="post" th:action="@{'/manager/deal/' + ${deal.id} +'/action'}" th:object="${dealAction}">
                <div class="form-group">
                    <label for="confirmation">Подтвердить сделку?:</label>
                    <input id="confirmation" name="confirmation" th:checked="${dealAction.confirmation}"
                           type="checkbox">
                </div>
                <div class="form-group">
                    <label for="actionDescription">Описание решения:</label>
                    <textarea class="form-control" cols="50" id="actionDescription" name="actionDescription" rows="4"
                              th:value="${dealAction.actionDescription}"></textarea>
                </div>
                <div class="form-group">
                    <label for="errorModel">В чем проблема:</label>
                    <input class="form-control" id="errorModel" name="errorModel" required
                           th:value="${dealAction.errorModel}" type="text">
                </div>
                <button class="btn-primary" type="submit">Подтвердить</button>
            </form>
        </div>
    </div>
</div>
<footer th:replace="~{footer.html}"></footer>
</body>
</html>