<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deal</title>
</head>
<body>
    <h2>Deal Information</h2>
    <div>
        <label>Status</label>
        <span th:text="${deal.status.name}"></span>
    </div>
    <div>
        <label>Open date time</label>
        <span th:text="${deal.openDateTime}"></span>
    </div>
    <div>
        <label>Close date time</label>
        <span th:text="${deal.closeDateTime}"></span>
    </div>
    <div>
        <label>Sell deal id</label>
        <a th:href="@{'/platform/request/' + ${deal.sellRequest.id}}" th:text="${deal.sellRequest.id}"></a>
    </div>

    <div>
        <label>Buy deal id</label>
        <a th:href="@{'/platform/request/' + ${deal.buyRequest.id}}" th:text="${deal.buyRequest.id}"></a>
    </div>

    <div th:if="${showAcceptButton}">
        <form th:action="@{'/platform/deal/' + ${deal.id} +'/accept'}" method="post">
            <button type="submit">Принять!</button>
        </form>
    </div>

    <div th:if="${showRefuseButton}">
        <form th:action="@{'/platform/deal/' + ${deal.id} +'/refuse'}" method="post">
            <button type="submit">Отменить!</button>
        </form>
    </div>

    <div th:if="${showConfirmPaymentButton}">
        <form th:action="@{'/platform/deal/' + ${deal.id} +'/confirm_payment?'}" method="post">
            <button type="submit">Подтвердить отправку средств!</button>
        </form>
    </div>

    <div th:if="${showDenyReceiptButton}">
        <form th:action="@{'/platform/deal/' + ${deal.id} +'/deny_received_payment'}" method="post">
            <button type="submit">Средства не дошли!</button>
        </form>
    </div>

    <div th:if="${showConfirmReceiptButton}">
        <form th:action="@{'/platform/deal/' + ${deal.id} +'/confirm_receipt_payment'}" method="post">
            <button type="submit">Подтвердить получение средств!</button>
        </form>
    </div>

    <div th:if="${showTakeInWorkButton}">
        <form th:action="@{'/platform/manager/deal/' + ${deal.id} +'/take_in_work'}" method="post">
            <button type="submit">Взять в работу</button>
        </form>
    </div>


    <div th:if="${showDealActionFrom}">
        <h3>Deal Action Form</h3>
        <form action="#" th:action="@{'/platform/manager/deal/' + ${deal.id} +'/action'}" method="post">
            <label for="confirmation">Confirmation:</label>
            <input type="checkbox" id="confirmation" name="confirmation" th:checked="${dealAction.confirmation}">
            <br>
            <label for="actionDescription">Action Description:</label>
            <input type="text" id="actionDescription" name="actionDescription" th:value="${dealAction.actionDescription}" required>
            <br>
            <label for="errorModel">Error Model:</label>
            <input type="text" id="errorModel" name="errorModel" th:value="${dealAction.errorModel}" required>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>

</body>
</html>