<html>
<header>
    <div class="header-container">
        <div class="header-title">P2P Stock</div>
        <nav class="navigation">
            <a href="/platform/account/welcome">Личный кабинет</a>
            <a href="/platform/request/all" sec:authorize="hasAuthority('Пользователь')">Все заявки</a>
            <a href="/manager/request/all" sec:authorize="hasAuthority('Менеджер')">Все заявки</a>
            <a href="/manager/deal/all" sec:authorize="hasAuthority('Менеджер')">Все сделки</a>
        </nav>
    </div>
</header>