<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="Заявка + ${request.requestType.id}"></title>
    <link href="css/request_styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <h2>Информация о заявке</h2>
    <div>
        <label>Тип заявки: </label>
        <span th:text="${request.requestType.name}"></span>
    </div>
    <div>
        <label>Логин пользователя: </label>
        <span th:text="${request.user.login}"></span>
    </div>
    <div>
        <label>Статус заявки: </label>
        <span th:text="${request.requestStatus.name}"></span>
    </div>
    <div>
        <label>Криптовалюта заявки: </label>
        <span th:text="${request.wallet.cryptocurrency.name}"></span>
    </div>
    <div>
        <label>Цена за единицу: </label>
        <span th:text="${request.pricePerUnit}"></span>
    </div>
    <div>
        <label>Количество: </label>
        <span th:text="${request.quantity}"></span>
    </div>
    <div>
        <label>Описание: </label>
        <span th:if="${edit==null || !edit}" th:text="${request.description}"></span>
        <form method="post" th:action="@{'/platform/request/' + ${request.id} + '/update'}"
              th:if="${edit?:false && isUserInitiator}" th:object="${request}">
            <textarea cols="50" rows="4" th:field="*{description}" th:text="${request.description}"></textarea><br>
            <span class="error" th:if="${errorMessage}" th:text="${errorMessage}"></span><br>
            <button type="submit">Отправить изменения</button>
        </form>
    </div>
</div>


<br>
<br>
<div th:if="${isAccess?:false && !isUserInitiator?:true}">
    <form action="#" th:action="@{'/platform/deal/add'}" method="post">
        <input type="hidden" th:name="requestId" th:value="${request.id}"/>
        <div th:if="${isBuying}">
            <label for="walletId">Кошелек:</label>
            <select id="walletId" name="walletId">
                <option th:each="wallet : ${wallets}" th:value="${wallet.id}" th:text="${wallet.name}"></option>
            </select>
        </div>
        <div th:if="${!isBuying}">
            <label for="cardId">Выбранная карта:</label>
            <select id="cardId" name="cardId">
                <option th:each="card : ${cards}" th:value="${card.id}" th:text="${card.cardName}"></option>
            </select>
        </div>
        <button type="submit">Создать сделку</button>
    </form>
</div>

<div th:if="${isUserInitiator}">
    <form action="#" th:action="@{'/platform/request/' + ${request.id} + '/cancel'}" method="post">
        <button class="red-button" type="submit">Отменить заявку</button>
    </form>
</div>

<div th:if="${isModeration}">
    <h2><b>Внимание!</b></h2>
    Внимательно проверьте поля, заполненные пользователем<br>
    Проверьте, есть ли недопустимые слова в комментарии. Если все соответствует, то одобрите заявку.<br>

    <form action="#" th:action="@{'/platform/manager/request/' + ${request.id} + '/moderation/accept'}" method="post">
        <button type="submit" name="action" value="accept">Одобрить заявку</button>
    </form>
    <form action="#" th:action="@{'/platform/manager/request/' + ${request.id} + '/moderation/change'}" method="post">
        <button class="yellow-button" name="action" type="submit" value="change">Отправить на изменение</button>
    </form>
    <form action="#" th:action="@{'/platform/manager/request/' + ${request.id} + '/moderation/discard'}" method="post">
        <button class="red-button" name="action" type="submit" value="discard">Закрыть заявку</button>
    </form>
</div>

</body>
</html>
