<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign In form</title>
</head>
<body>
<h1>Please Log In</h1>
<div th:if="${param.error}">
    Invalid password.</div>
<div th:if="${param.logout}">
    You have been logged out.</div>
<form action="#" th:action="${link} + @{/sign-in}" method="post">
    <label>Login*:</label><br>
    <input type="text" name="username" placeholder="Username"/><br>

    <label>Password*:</label><br>
    <input type="password" name="password" placeholder="Password"/>

    <input type="submit" value="Enter">
</form>
<a th:href="${link} + @{/sign-up}">Register</a>
</body>
</html>
