<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация пользователя</title>
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/sign_up_styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<header th:replace="~{header.html}"></header>

<div class="container">
    <div class="card-form">
        <h2>Форма регистрации пользователя</h2>
        <form action="#" method="post" onsubmit="return validateForm()" th:action="@{/auth/sign-up/save}"
              th:object="${user}">
            <label class="label" for="login">Логин*:</label>
            <input class="form-control" id="login" name="login" placeholder="Введите логин" required
                   th:field="*{login}" type="text">
            <span class="error" th:errors="*{login}" th:if="${#fields.hasErrors('login')}"></span>

            <label class="label" for="password">Пароль*:</label>
            <input class="form-control" id="password" name="password" placeholder="Введите пароль" required
                   th:field="*{password}" type="password">
            <span class="error" th:if="${errorMessage}" th:text="${errorMessage}"></span>

            <button class="btn-primary" type="submit">Зарегистрироваться</button>
        </form>
        <a th:href="@{/auth/sign-in}">Войти</a>
    </div>
</div>

<script>
    function validateForm() {
        var login = document.getElementById('login').value;
        var password = document.getElementById('password').value;
        var loginError = document.querySelector('#login + .error');
        var passwordError = document.querySelector('#password + .error');
        loginError.textContent = '';
        passwordError.textContent = '';

        if (login.length < 2) {
            loginError.textContent = 'Логин должен содержать не менее 2 символов';
            return false;
        }

        if (password.length < 8) {
            passwordError.textContent = 'Пароль должен содержать не менее 8 символов';
            return false;
        }

        return true;
    }
</script>

<footer th:replace="~{footer.html}"></footer>
</body>
</html>