<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<div>
    <h2>Welcome</h2>
    <p>Добро пожаловать, <span th:text="${login}"></span>!</p>

    <ul>
        <li><a href="/platform/wallet/add">Добавить кошелек</a></li>
        <li><a href="/platform/card/add">Добавить карту</a></li>
        <li><a href="/platform/request/add">Создать заявку</a></li>
        <li><a href="/platform/request/all">Все заявки</a></li>
        <!-- Добавьте другие пункты меню здесь -->
    </ul>

    <h3>Карты</h3>
    <table>
        <thead>
        <tr>
            <th>Название</th>
            <th>Номер карты</th>
            <th>Банк</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="card : ${cards}">
            <td th:text="${card.cardName}"></td>
            <td th:text="${card.cardNumber}"></td>
            <td th:text="${card.bank.name}"></td>
        </tr>
        </tbody>
    </table>

    <h3>Кошельки</h3>
    <table>
        <thead>
        <tr>
            <th>Название</th>
            <th>Тип криптовалюты</th>
            <th>Адресс</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="wallet : ${wallets}">
            <td th:text="${wallet.name}"></td>
            <td th:text="${wallet.cryptocurrency.code}"></td>
            <td th:text="${wallet.publicKey}"></td>
        </tr>
        </tbody>
    </table>

    <h3>Заявки пользователя</h3>
    <table>
        <thead>
        <tr>
            <th>Номер заявки</th>
            <th>Тип заявки</th>
            <th>Итоговая цена</th>
            <th>Статус заявки</th>
            <th>Последнее изменение</th>
            <th>Цена за единицу</th>
            <th>Количество</th>
            <th>Время создания</th>
            <th>Время закрытия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="request : ${requests}">
            <td><a th:href="@{'/platform/request/' + ${request.id}}" th:text="${request.id}"></a></td>
            <td th:text="${request.requestType.name}"></td>
            <td th:text="${request.quantity * request.pricePerUnit}"></td>
            <td th:text="${request.requestStatus.name}"></td>
            <td th:text="${request.lastChangeStatusDateTime}"></td>
            <td th:text="${request.pricePerUnit}"></td>
            <td th:text="${request.quantity}"></td>
            <td th:text="${request.createDateTime}"></td>
            <td th:text="${request.deadlineDateTime}"></td>
        </tr>
        </tbody>
    </table>

    <h3>Сделки пользователя</h3>
    <table>
        <thead>
        <tr>
            <th>Номер сделки</th>
            <th>Статус сделки</th>
            <th>Заявка на покупку</th>
            <th>Заявка на продажу</th>
            <th>Последнее изменение</th>
            <th>Время создания</th>
            <th>Время закрытия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="deal : ${deals}">
            <td><a th:href="@{'/platform/deal/' + ${deal.id}}" th:text="${deal.id}"></a></td>
            <td th:text="${deal.status.name}"></td>
            <td><b th:if="${deal.isBuyCreated}"><a th:href="@{'/platform/request/' + ${deal.sellRequest.id}}" th:text="${deal.sellRequest.id}"></a></b></td>
            <td><b th:if="${!deal.isBuyCreated}"><a th:href="@{'/platform/request/' + ${deal.buyRequest.id}}" th:text="${deal.buyRequest.id}"></a></b></td>
<!--            <td><a th:href="@{'/platform/request/' + ${deal.buyRequest.id}}" th:text="${deal.buyRequest.id}"></a></td>-->
            <td th:text="${deal.changeLastTime}"></td>
            <td th:text="${deal.openDateTime}"></td>
            <td th:text="${deal.closeDateTime}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
