<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<div>
    <h2>Welcome</h2>
    <p>Добро пожаловать, <span th:text="${login}"></span>!</p>

    <ul>
        <li><a href="/wallet/add">Добавить кошелек</a></li>
        <li><a href="/card/add">Добавить карту</a></li>
        <li><a href="/request/add">Создать заявку</a></li>
        <!-- Добавьте другие пункты меню здесь -->
    </ul>

    <h3>Карты</h3>
    <table>
        <thead>
        <tr>
            <th>Название</th>
            <th>Номер карты</th>
            <th>Банк</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="card : ${cards}">
            <td th:text="${card.cardName}"></td>
            <td th:text="${card.cardNumber}"></td>
            <td th:text="${card.bank.name}"></td>
        </tr>
        </tbody>
    </table>

    <h3>Кошельки</h3>
    <table>
        <thead>
        <tr>
            <th>Название</th>
            <th>Тип криптовалюты</th>
            <th>Адресс</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="wallet : ${wallets}">
            <td th:text="${wallet.name}"></td>
            <td th:text="${wallet.cryptocurrency.code}"></td>
            <td th:text="${wallet.publicKey}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
