<section class="wallets-section">
    <h2>🪙 Ваши кошельки</h2>
    <button class="btn-toggle" (click)="toggleListVisibility()">
        {{ isListVisible ? 'Скрыть кошельки' : 'Показать кошельки' }}
      </button>
    
    <!-- Загрузка -->
    <div *ngIf="isLoading">
      <p>Загрузка...</p>
    </div>
  
    <!-- Список кошельков -->
    <div *ngIf="isListVisible" class="list-container">
    <div *ngIf="!isLoading && wallets.length > 0; else noWallets" class="wallets-grid">
      <div *ngFor="let wallet of wallets" class="wallet-item">
        <div class="wallet-details">
          <strong>{{ wallet.walletName }}</strong>
          <p>{{ wallet.cryptocurrencyCode }}</p>
          <small>Баланс: {{ wallet.balance | number:'1.2-2' }}</small>
        </div>
        <button class="btn-delete" (click)="deleteWallet(wallet)">Удалить</button>
      </div>
    </div>
    </div>
  
    <!-- Нет кошельков -->
    <ng-template #noWallets>
      <p>У вас пока нет добавленных кошельков.</p>
    </ng-template>
  </section>
  